@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');

body {
    font-family: "Ubuntu", sans-serif;
    font-weight: 300;
    font-style: italic;
    color: #339eb1;
    height: 100%;
    margin: 0;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

main {
    flex: 1;    
}

.logo {
    height: 60px;
}

.banner {
    width: 100%;
    height: 90vh;
    background: url('img/banner.jpg') no-repeat center center;
    background-size: cover;
    background-position: center center;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    flex-direction: column;
}


.banner h1 {
    font-size: 3rem;
    text-align: center;
}

a {
    color: #339eb1;
}

header {
    background-color: #ecf4e8;
}

header.fixed {
    position: fixed;
    /* Фіксоване позиціонування */
    top: 0;
    /* Закріплено зверху */
    width: 100%;
    /* Ширина за всю ширину вікна */
    max-width: 100%;
    z-index: 100;
}

footer {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.social-links {
    display: flex;
    justify-content: space-between;
    gap: 10px;

}

.cart-btn {
    padding: 10px 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    background: #919c8b;
    border-radius: 10px;
    color: rgb(255, 255, 255);
    font-weight: 600;
    font-size: 0.9em;
    font-family: "Ubuntu", sans-serif;
    ;
    border: none;
    position: relative;
    cursor: pointer;
    transition-duration: .2s;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.116);
    margin-top: 20px;
}

@media (min-width: 768px) {
    .cart-btn {
        margin-top: 0;
        margin-left: 10px;
    }
}

.bell {
    width: 25px;
}


.cart-btn:hover {
    background: #464a42;
}

.cart-btn:active {
    transform: scale(0.97);
    transition-duration: .2s;
}

.cart-btn:hover .bell {
    animation: bellRing 0.9s both;
}

.cart-btn div {
    position: relative;
}

.cart-counter {
    background: #fff;
    font-size: small;
    color: #919c8b;
    border-radius: 100px;
    padding: 0 .2em;
    position: absolute;
    /* Змініть позицію на абсолютну */
    top: 0;
    /* Відступ зверху */
    right: 0;
    /* Відступ справа */
}

.text-my-card {
    font-size: 1rem;
    font-weight: 600;
    margin-top: 20px;
}

.description-card {
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    line-clamp: 3;
    /* number of lines to show */
    -webkit-box-orient: vertical;
    font-size: 0.7rem;

}

.price-card {
    font-size: 1rem;
    line-height: 1rem;
    /* 120% */
    color: rgb(58, 170, 214);
    display: flex;
    gap: 5px;
    align-items: center;
}

.my-card img {
    width: 244px;
    height: 214px;
    object-fit: contain;
}

.container-cards {
    display: flex;
    width: 100%;
    justify-content: space-between;
    flex-grow: 1;
    align-items: flex-start;
    align-content: space-between;
    flex-wrap: wrap;
    margin-bottom: 72px;
}

.my-card {
    padding: 28px;
    background: transparent;
    transition: background .2s linear;
    border-radius: 10px;
    max-width: 350px;
}

.my-card:hover {
    background: #DCE5E2;
    cursor: pointer;
    transition: background .2s linear;
    color: #272727;
}