@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');

body {
    font-family: "Ubuntu", sans-serif;
    font-weight: 300;
    font-style: italic;
    color: #339eb1;
}

.logo {
    height: 60px;
}

.banner {
    width: 100%;
    height: 90vh;
    background: url('../img/1.jpg') no-repeat center center;
    background-size: cover;
    background-position: center center;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    flex-direction: column;
}


.banner h1 {
    font-size: 3rem;
    text-align: center;
}
a{
    color: #339eb1;
}

header{
background-color: #ecf4e8;
}

footer{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.social-links{
    display: flex;
    justify-content: space-between;
    gap: 10px;
    
}

.cart-btn {
    padding: 10px 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    background: #919c8b;
    border-radius: 10px;
    color: rgb(255, 255, 255);
    font-weight: 600;
    font-size: 0.9em;
    font-family: "Ubuntu", sans-serif;;
    border: none;
    position: relative;
    cursor: pointer;
    transition-duration: .2s;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.116);
    margin-top: 20px;
}

@media (min-width: 768px) {
    .cart-btn {
        margin-top: 0;
        margin-left: 10px;
    }
}

.bell {
    width: 25px;
}


.cart-btn:hover {
    background: #464a42;
}

.cart-btn:active {
    transform: scale(0.97);
    transition-duration: .2s;
}

.cart-btn:hover .bell {
    animation: bellRing 0.9s both;
}

.cart-btn div {
    position: relative;
}

.cart-counter {
    background: #fff;
    font-size: small;
    color: #919c8b;
    border-radius: 100px;
    padding: 0 .2em;
    position: absolute;
    /* Змініть позицію на абсолютну */
    top: 0;
    /* Відступ зверху */
    right: 0;
    /* Відступ справа */
}
